.btn-container{
  display: flex;
  overflow-x: auto;
  width: 500px;
}

button{
  font-weight: bold;
}

.description {
  background-color: white;
  width: 75vw;
  margin-left: 12.5vw;
  border: #555 solid 1px;
  border-radius: 10px;
}

li{
  list-style: none;
}

.home {
  margin-top: 5px;
  background-color: white;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
}

.movie-details{
  display: flex;
}

.one-movie{
  margin-top: 10px;
}

.title {
  font-size: 50px;
  border-bottom: #555 solid 3px;
}

.top{
  display: flex;
  align-items: center;
  flex-direction: column;
}
::-webkit-scrollbar {
  height: 5px;
}


::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
} 